{% extends 'SmartProjectBootstrapBundle::base.html.twig' %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets
    '@SmartProjectFrontBundle/Resources/public/css/default.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock head_style %}

{% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true } %}
        {% block brand %}
            <a class="navbar-brand visible-lg visible-md visible-xs" href="{{ path('smartproject_front_index_index') }}">SmartProject</a>
        {% endblock %}

        {% block menu %}{% spaceless %}
            {{ mopa_bootstrap_menu('main') }}
            {{ mopa_bootstrap_menu('user') }}

            <!-- The drop down menu -->
            <!--ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                    </div>
                </li>
            </ul-->
        {% endspaceless %}{% endblock %}
    {% endembed %}
{% endblock navbar %}

{% block headline %}The Basic Layout{% endblock headline %}

{% block body_end_before_js_content %}
    <p class="text-muted">&copy; Copyright 2014 SmartProject</p>
{% endblock body_end_before_js_content %}

{% block foot_script %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();
            $('.btn-group .btn').button();

            {% for flashType, flashMessages in app.session.flashbag %}
            {% for flashMessage in flashMessages %}
            $.bootstrapGrowl("{{ flashMessage|escape }}", {
                ele: 'body',
                type: '{{ flashType }}',
                align: 'right',
                width: 300, // 'auto'
                offset: {from: 'bottom', amount: 20},
                delay: 4000,
                stackup_spacing: 10,
                allow_dismiss: true
            });
            {% endfor %}
            {% endfor %}

            // Select2 fix
            // cf : http://stackoverflow.com/a/19574076/1931915
            $.fn.modal.Constructor.prototype.enforceFocus = function() {};
        });
    </script>
{% endblock foot_script %}

{% block content_sidebar %}
{% endblock %}