{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Provider\ProviderRedmine list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Enabled</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Deletedat</th>
                <th>Apiuser</th>
                <th>Apikey</th>
                <th>Url</th>
                <th>Login</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('provider_redmine_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.enabled }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.deletedAt %}{{ entity.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.apiUser }}</td>
                <td>{{ entity.apiKey }}</td>
                <td>{{ entity.url }}</td>
                <td>{{ entity.login }}</td>
                <td>{{ entity.password }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('provider_redmine_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('provider_redmine_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('provider_redmine_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
