{% spaceless %}
<!DOCTYPE html>

    {% block html_tag %}
        <html>
    {% endblock html_tag %}

    {% block head %}
        <head>
            <meta charset="UTF-8"/>
            {% block head_style %}
                {# Override this block to add your own files! #}
                <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
                {% stylesheets
                '@SmartProjectBootstrapBundle/Resources/public/select2/select2.css'
                '@SmartProjectBootstrapBundle/Resources/public/select2/select2-bootstrap.css' %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
                {% endstylesheets %}
                {# To use this without less use the base_css.html.twig template as your base
                 # Be sure you understand whats going on: have a look into
                 # https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/css-vs-less.md
                 #}
            {% endblock head_style %}

            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            {% block head_script %}
                {# Overwrite this block to add your own js here, to get them generated into final files
                {% javascripts
                    'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
                %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
                 #}
            {% endblock head_script %}

            <title>{% block title %}Mopa Bootstrap Bundle{% endblock title %}</title>
            <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
            {% block head_bottom %}
            {% endblock head_bottom %}
        </head>
    {% endblock head %}

    {% block body_tag %}
<body data-spy="scroll">
    {% endblock body_tag %}

    {% block body_start %}
    {% endblock body_start %}

    {% block body %}
        {% block navbar %}
            <!-- No navbar included here to reduce dependencies, see https://github.com/phiamo/MopaBootstrapSandboxBundle/blob/master/Resources/views/base.html.twig for howto include it -->
        {% endblock navbar %}

    {% block container %}
    {% block container_div_start %}<div class="{% block container_class %}container{% endblock container_class %}">{% endblock container_div_start %}
        {% block header %}
        {% endblock header %}

    {% block content_div_start %}
        <div class="content">{% endblock content_div_start %}
        {% block page_header %}
            <div class="page-header">
                <h1>{% block headline %}{% endblock headline %}</h1>
            </div>
        {% endblock page_header %}

        {% block flashes %}
        {% endblock flashes %}

        {% block content_row %}
            <div class="row">
                {% block content %}
                    <div class="col-sm-9">
                        {% block content_content %}
                            <strong></strong>
                        {% endblock content_content %}
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        {% block content_sidebar %}
                            <h2>Sidebar</h2>
                        {% endblock content_sidebar %}
                    </div>
                {% endblock content %}
            </div>
        {% endblock content_row %}
    {% block content_div_end %}</div>{% endblock content_div_end %}
    {% block footer_tag_start %}
        <footer>
    {% endblock footer_tag_start %}
        {% block footer %}{% endblock footer %}
    {% block footer_tag_end %}
        </footer>
    {% endblock footer_tag_end %}
    {% block container_div_end %}</div><!-- /container -->{% endblock container_div_end %}
    {% endblock container %}

    {% block body_end_before_js %}
        <div id="footer">
            <div class="container">
                {% block body_end_before_js_content %}
                    <!-- Sticky Footer -->
                {% endblock body_end_before_js_content %}
            </div>
        </div>
    {% endblock body_end_before_js %}

    {% block foot_script %}
        {# To only use a subset or add more js overwrite and copy paste this block
        To speed up page loads save a copy of jQuery in your project and override this block to include the correct path
        Otherwise the regeneration is done on every load in dev more with use_controller: true
         #}
    {% block foot_script_assetic %}
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>

        {% javascripts output='bootstrap_compiled.js'
        '@SmartProjectBootstrapBundle/Resources/public/bootstrap-growl/jquery.bootstrap-growl.min.js'
        '@SmartProjectBootstrapBundle/Resources/public/select2/select2.min.js'
        '@SmartProjectBootstrapBundle/Resources/public/bootstrap/js/plugins/tooltip.js'
        '@SmartProjectBootstrapBundle/Resources/public/bootstrap/js/plugins/affix.js'
        '@SmartProjectBootstrapBundle/Resources/public/bootstrap/js/plugins/alert.js'
        '@SmartProjectBootstrapBundle/Resources/public/bootstrap/js/plugins/button.js'
        '@SmartProjectBootstrapBundle/Resources/public/bootstrap/js/plugins/carousel.js'
        '@SmartProjectBootstrapBundle/Resources/public/bootstrap/js/plugins/collapse.js'
        '@SmartProjectBootstrapBundle/Resources/public/bootstrap/js/plugins/modal.js'
        '@SmartProjectBootstrapBundle/Resources/public/bootstrap/js/plugins/popover.js'
        '@SmartProjectBootstrapBundle/Resources/public/bootstrap/js/plugins/scrollspy.js'
        '@SmartProjectBootstrapBundle/Resources/public/bootstrap/js/plugins/tab.js'
        '@SmartProjectBootstrapBundle/Resources/public/bootstrap/js/plugins/transition.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
        '@MopaBootstrapBundle/Resources/public/js/eyecon-bootstrap-datepicker.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    {% endblock foot_script_assetic %}

        <script type="text/javascript">
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
                $('[data-toggle="popover"]').popover();

                {% for flashType, flashMessages in app.session.flashbag %}
                {% for flashMessage in flashMessages %}
                $.bootstrapGrowl("{{ flashMessage|escape }}", {
                    ele: 'body',
                    type: '{{ flashType }}',
                    align: 'right',
                    width: 300, // 'auto'
                    offset: {from: 'bottom', amount: 20},
                    delay: 4000,
                    stackup_spacing: 10,
                    allow_dismiss: true
                });
                {% endfor %}
                {% endfor %}

                $('.select2.tags').each(function () {
                    $this = $(this);
                    $this.attr('type', 'hidden');
                    var width = $this.attr('data-select-width') || '100%';
                    $this.select2({
                        formatNoMatches: function (term) {
                            return '';
                        },
                        tags: [],
                        minimumInputLength: 2,
                        maximumInputLength: 20,
                        tokenSeparators: [",", ";"],
                        width : width,
                        cache: true,
                        containerCssClass: 'form-control',
                        ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                            url: "{{ path('project_tags') }}",
                            dataType: 'jsonp',
                            data: function (term, page) {
                                return {
                                    q: term,
                                    page_limit: 10
                                };
                            },
                            results: function (data, page) { // parse the results into the format expected by Select2.
                                // since we are using custom formatting functions we do not need to alter remote JSON data
                                var results = [];
                                $.each(data.results, function(index, item){
                                    results.push({
                                        id: item.id,
                                        text: item.text
                                    });
                                });
                                return {
                                    results: results
                                };
                            }
                        },
                        matcher: function(term, text, opt) {
                            return true;
                        },
                        initSelection : function (element, callback) {
                            var data = [];
                            $(element.val().split(",")).each(function () {
                                data.push({id: this, text: this});
                            });
                            callback(data);
                        },
                        createSearchChoice: function(term) {
                            return {id: term, text: term};
                        },
                        sortResults: function(results, container, query) {
                            if (query.term) {
                                // use the built in javascript sort function
                                return results.sort(function(a, b) {
                                    if (a.text.length > b.text.length) {
                                        return 1;
                                    } else if (a.text.length < b.text.length) {
                                        return -1;
                                    } else {
                                        return 0;
                                    }
                                });
                            }
                            return results;
                        }
                    });
                });
            });
        </script>
    {% endblock foot_script %}
    {% endblock body %}

    {% block body_end %}
    {% endblock body_end %}
</body>
</html>
{% endspaceless %}