{% extends 'SmartProjectFrontBundle::layout.html.twig' %}

{% block headline %}
    Timeline of
    <a href="#" class="datepicker-inline" data-url="{{ path('timeline_mode', {mode: mode, date: 'REPLACE'}) }}"
       data-date-today-btn="true" data-date-today-highlight="true">{{ date|date('Y-m-d') }}</a>
    <span class="glyphicon glyphicon-pencil" style="font-size: 0.5em"></span>
{% endblock %}

{% block headline_sub %}
    {% if mode == 'week' %}
        <em>weekly view from {{ timesheet.dateStart|date('Y-m-d') }} to {{ timesheet.dateEnd|date('Y-m-d') }}</em>
    {% else %}
        <em>daily view</em>
    {% endif %}
{% endblock %}

{% block content_content %}

    {% for day_date, day in days %}
        {% if day.day_off %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span class="timesheet-date">{{ day_date|date('l, jS F Y') }}</span>

                    <div class="pull-right">Day off</div>
                </div>
            </div>
        {% else %}
            <div class="panel panel-primary">
                {#{% if day.fulfillment < day_duration -%}#}
                    {#panel-warning#}
                    {#{%- elseif day.fulfillment > day_duration -%}#}
                    {#panel-danger#}
                    {#{%- else -%}#}
                    {#panel-success#}
                    {#{%- endif %}">#}
                <div class="panel-heading panel-heading-timeline" data-date="{{ day_date|date('Y-m-d') }}">
                    <span class="timesheet-date">{{ day_date|date('l, jS F Y') }}</span>

                    <div class="pull-right">Total <span class="label {% if day.fulfillment < day_duration -%}
                    label-warning
                    {%- elseif day.fulfillment > day_duration -%}
                    label-danger
                    {%- else -%}
                    label-success
                    {%- endif %}">{{ day.fulfillment|format_duration(' h ', true) }}</span></div>
                </div>
                <table class="table table-condensed table-timeline table-hover table-striped">
                    <tbody>
                    {% for tracking in day.trackings %}
                        <tr>
                            <td style="width: 40%">{{ tracking.task.name }}</td>
                            <td>
                                {% if tracking.task.tags %}
                                    {% set tags = tracking.task.tags|split(',') %}
                                    {% for tag in tags %}
                                        <span class="label label-success">{{ tag }}</span>&nbsp;
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td style="text-align: right; white-space: nowrap;">{{ tracking.duration|format_duration(' h ') }}</td>
                            <td style="text-align: right; width: 60px">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary btn-xs"><span
                                                class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="#" class="btn btn-danger btn-xs btn-delete"
                                                data-tracking-id="{{ tracking.id }}"
                                                data-url="{{ path('task_quick_delete', {id: tracking.id}) }}"><span
                                                class="glyphicon glyphicon-remove"></span></a>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3" class="empty">This day doesn't contain any task.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {#<div class="panel-footer">

                </div>#}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content_sidebar %}

    <div class="btn-group btn-group-justified btn-group-timeline-mode" data-toggle="buttons">
        <label class="btn btn-primary{% if mode == 'day' %} active{% endif %}">
            <span class="glyphicon glyphicon-time"></span>
            <input type="radio" name="options" id="option1" {% if mode == 'day' %}value="" checked{% else %}value="{{ path('timeline_mode', {date: date|date('Y-m-d'), mode: 'day'}) }}"{% endif %}> Daily
        </label>
        <label class="btn btn-primary{% if mode == 'week' %} active{% endif %}">
            <span class="glyphicon glyphicon-calendar"></span>
            <input type="radio" name="options" id="option2" {% if mode == 'week' %}value="" checked{% else %}value="{{ path('timeline_mode', {date: date|date('Y-m-d'), mode: 'week'}) }}"{% endif %}> Weekly
        </label>
    </div>

    <br/>

    {{ render(controller('SmartProjectTimesheetBundle:TaskQuick:new', {url: app.request.requestUri, date: date|date('Y-m-d')})) }}
{% endblock %}