{% extends 'SmartProjectTimesheetBundle::layout-with-widget.html.twig' %}

{% block headline %}
    Timeline of
    <a href="#" class="datepicker-inline" data-url="{{ path('timeline_mode', {mode: mode, date: 'REPLACE'}) }}"
       data-date-today-btn="true" data-date-today-highlight="true">{{ date|date('Y-m-d') }}</a>
    <span class="glyphicon glyphicon-pencil" style="font-size: 0.5em"></span>
{% endblock %}

{% block headline_sub %}
    {% if mode == 'week' %}
        <em>weekly view from {{ timesheet.dateStart|date('Y-m-d') }} to {{ timesheet.dateEnd|date('Y-m-d') }}</em>
    {% else %}
        <em>daily view</em>
    {% endif %}
{% endblock %}

{% block content_content %}

    {% for day_date, day in days %}
        {% if day.day_off %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span class="timesheet-date">{{ day_date|date('l, jS F Y') }}</span>

                    <div class="pull-right">Day off</div>
                </div>
            </div>
        {% else %}
            <div class="panel panel-default{% if day_date|date('Y-m-d') == date|date('Y-m-d') %} panel-primary{% endif %}">
                <div class="panel-heading panel-heading-timeline" data-date="{{ day_date|date('Y-m-d') }}">
                    <span class="timesheet-date">{{ day_date|date('l, jS F Y') }}</span>

                    <div class="pull-right">Total <span class="label {% if day.fulfillment < day_duration -%}
                    label-warning
                    {%- elseif day.fulfillment > day_duration -%}
                    label-danger
                    {%- else -%}
                    label-success
                    {%- endif %}">{{ day.fulfillment|format_duration(' h ', true) }}</span></div>
                </div>
                <table class="table table-condensed table-timeline table-hover table-striped">
                    <tbody>
                    {% for tracking in day.trackings %}
                        <tr>
                            <td style="width: 40%">
                                {% if tracking.task.project %}
                                    {% if tracking.task.project.type == 'contract' %}
                                        <a href="{{ path('client_show', {slug: tracking.task.project.client.slug}) }}">{{ tracking.task.project.client.name }}</a>
                                        &gt;
                                        <a href="{{ path('project_show', {slug: tracking.task.project.parent.slug}) }}">{{ tracking.task.project.parent.name }}</a>
                                        &gt;
                                        <a href="{{ path('contract_show', {slug: tracking.task.project.slug}) }}">{{ tracking.task.project.name }}</a>
                                    {% elseif tracking.task.project.type == 'project' %}
                                        <a href="{{ path('client_show', {slug: tracking.task.project.client.slug}) }}">{{ tracking.task.project.client.name }}</a>
                                        &gt;
                                        <a href="{{ path('project_show', {slug: tracking.task.project.slug}) }}">{{ tracking.task.project.name }}</a>
                                    {% elseif tracking.task.project.type == 'client' %}
                                        <a href="{{ path('client_show', {slug: tracking.task.project.slug}) }}">{{ tracking.task.project.name }}</a>
                                    {% endif %}
                                {% else %}
                                    <em>N/A</em>
                                {% endif %}
                            </td>
                            <td>
                                {% if tracking.task.description %}
                                    {{ tracking.task.description }}<br/>
                                {% endif %}
                                {% if tracking.task.tags %}
                                    {% set tags = tracking.task.tags|split(',') %}
                                    {% for tag in tags %}
                                        <span class="label label-success">{{ tag }}</span>&nbsp;
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td style="text-align: right; white-space: nowrap;">{{ tracking.duration|format_duration(' h ') }}</td>
                            <td style="text-align: right; width: 80px">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary btn-sm btn-update"
                                       data-tracking-id="{{ tracking.id }}"
                                       data-url="{{ path('task_quick_edit', {id: tracking.id}) }}"><span
                                                class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="#" class="btn btn-danger btn-sm btn-delete"
                                       data-tracking-id="{{ tracking.id }}"
                                       data-url="{{ path('task_quick_delete', {id: tracking.id}) }}"><span
                                                class="glyphicon glyphicon-remove"></span></a>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3" class="empty">This day doesn't contain any task.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {#<div class="panel-footer">

                </div>#}
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block content_sidebar %}

    <div class="btn-group btn-group-justified btn-group-timeline-mode" data-toggle="buttons">
        <label class="btn btn-primary{% if mode == 'day' %} active{% endif %}">
            <span class="glyphicon glyphicon-time"></span>
            <input type="radio" name="options" id="option1" {% if mode == 'day' %}value=""
                   checked{% else %}value="{{ path('timeline_mode', {date: date|date('Y-m-d'), mode: 'day'}) }}"{% endif %}>
            Daily
        </label>
        <label class="btn btn-primary{% if mode == 'week' %} active{% endif %}">
            <span class="glyphicon glyphicon-calendar"></span>
            <input type="radio" name="options" id="option2" {% if mode == 'week' %}value=""
                   checked{% else %}value="{{ path('timeline_mode', {date: date|date('Y-m-d'), mode: 'week'}) }}"{% endif %}>
            Weekly
        </label>
    </div>

    <br/>

    {{ parent() }}
{% endblock %}

{% block foot_script %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-group-timeline-mode .btn').click(function () {
                var url = $('input', this).val();
                if (url) {
                    window.location.href = url;
                }
            });

            $('.datepicker-inline').each(function () {
                var picker = $(this);
                picker.datepicker({
                    autoclose: true,
                    format: 'yyyy-mm-dd',
                    weekStart: 1,
                    todayBtn: false
                });
                picker.datepicker('update', picker[0].innerText);
                picker.datepicker().on('changeDate', function (e) {
                    if (url = picker.attr('data-url')) {
                        window.location.href = url.replace('REPLACE', e.format());
                    }
                });
            });

            $('.panel-heading-timeline').each(function () {
                $(this).click(function () {
                    var date = $(this).attr('data-date');

                    $(this).closest('.panel').parent().each(function () {
                        $('.panel', this).removeClass('panel-primary');
                    });

                    $(this).closest('.panel').addClass('panel-primary');

                    $('.timesheet-quick-task .field-datepicker').datepicker('update', date);
                    $('.timesheet-quick-task .field-description').focus();
                });
            });

            /**
             * @param jqXHR
             * @param textStatus
             */
            function bootbox_update_complete(jqXHR, textStatus) {
                if (jqXHR.status < 400) {
                    bootbox.dialog({
                        title: 'Edit task',
                        message: jqXHR.responseText,
                        onEscape: function () {
                            bootbox.hideAll();
                        },
                        buttons: {
                            cancel: {
                                label: 'Cancel',
                                className: 'btn-default',
                                callback: function () {
                                }
                            },
                            submit: {
                                label: 'Update',
                                className: 'btn-primary',
                                callback: function () {
                                    var form = $('.bootbox form');
                                    $.ajax({
                                        url: form.prop('action'),
                                        method: 'POST',
                                        data: form.serialize(),
                                        complete: function (jqXHR, textStatus) {
                                            if (jqXHR.status < 400) {
                                                if (jqXHR.responseJSON.action == 'reload') {
                                                    bootbox.hideAll();
                                                    location.reload();
                                                    return;
                                                }
                                                else if (jqXHR.responseJSON.action == 'redirect' && jqXHR.responseJSON.url != '') {
                                                    bootbox.hideAll();
                                                    window.location.href = jqXHR.responseJSON.url;
                                                    return;
                                                }
                                            } else {
//                                                console.log(jqXHR.responseJSON);
                                                $('.bootbox form').parent().html(jqXHR.responseJSON.content);
                                                bootbox_update_complete(jqXHR, textStatus);
                                            }
                                        }
                                    });

                                    return false;
                                }
                            }
                        }
                    });
                }

                initProjectSelection(
                        $('.bootbox.modal select.form-field-project'),
                        $('.bootbox.modal .form-field-tag')
                );
            }

            $('.table-timeline .btn-group .btn-update').click(function (e) {
                var update_url = $(this).attr('data-url');

                $.ajax({
                    url: update_url,
                    method: 'GET',
                    complete: bootbox_update_complete
                });

                return false;
            });

            $('.table-timeline .btn-group .btn-delete').click(function (e) {
                var tracking_id = $(this).attr('data-tracking-id');
                var delete_url = $(this).attr('data-url');
                var table_line = $(this).closest('tr');
                var panel = $(this).closest('.panel');
                var table_total = $('.panel-heading-timeline .pull-right .label', panel);

                if (tracking_id && delete_url) {
                    bootbox.confirm('Do you confirm task deletion ?', function (confirmed) {
                        if (confirmed) {
                            $.ajax({
                                url: delete_url,
                                method: 'POST',
                                complete: function (jqXHR, textStatus) {
                                    if (jqXHR.status < 400) {
                                        table_line.hide(600, function () {
                                            table_total.html(jqXHR.responseJSON.total);
                                            table_total.removeClass('label-danger');
                                            table_total.removeClass('label-warning');
                                            table_total.removeClass('label-success');

                                            if (jqXHR.responseJSON.duration < 7) {
                                                table_total.addClass('label-warning');
                                            } else if (jqXHR.responseJSON.duration > 7) {
                                                table_total.addClass('label-danger');
                                            } else {
                                                table_total.addClass('label-success');
                                            }
                                        });
                                    }
                                }
                            });
                        }
                    });
                }

                return false;
            });
        });
    </script>
{% endblock %}