{% extends 'SmartProjectFrontBundle::layout.html.twig' %}

{% block headline %}
    Project list
{% endblock headline %}

{% block content_content %}
    <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th class="hidden-xs">Description</th>
            <th class="hidden-xs">Redmine</th>
            <th class="hidden-xs">Website</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td class="hidden-xs">{{ entity.description }}</td>
                <td class="hidden-xs">
                    {% if entity.redmineProject %}
                        <a href="{{ redmine.hostname|trim('/') ~ '/projects/' ~ entity.redmineProject.identifier }}" target="_blank">{{ entity.redmineProject.name }}</a>
                    {% else -%}
                        N/A
                    {%- endif %}
                </td>
                <td class="hidden-xs">{{ entity.website }}</td>
                <td>
                    <a href="{{ path('project_show', { 'id': entity.id }) }}" class="btn btn-default btn-xs">show</a>
                    &nbsp;
                    <a href="{{ path('project_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_new') }}" class="btn btn-default btn-info">
        Create a new entry
    </a>
{% endblock %}

{% block content_sidebar %}
    {{ render(controller('SmartProjectProjectBundle:Redmine:projectList')) }}
{% endblock %}
