{% extends 'SmartProjectFrontBundle::layout.html.twig' %}

{% block headline %}
    Project list
{% endblock %}

{% block content_content %}

    <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th colspan="2">Name</th>
            <th>Synced</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td colspan="2"><a href="{{ path('client_show', {slug: client.slug}) }}"><strong>{{ client.name }}</strong></a></td>
                <td>
                    {#<a href="{{ path('client_show', { 'id': client.id }) }}"#}
                       {#class="btn btn-default btn-xs">show</a>#}
                    {#<a href="{{ path('client_edit', { 'id': client.id }) }}"#}
                       {#class="btn btn-default btn-xs">edit</a>#}
                </td>
            </tr>
            {% for project in client.projects %}
                <tr>
                    <td style="width: 20px"></td>
                    <td>
                        {% if project.lvl %}
                            <span style="display: inline-block; width: {{ project.lvl * 15 }}px; text-align: right; padding-right: 10px">\</span>
                        {% endif %}
                        <a href="{{ path('project_show', { 'slug': project.slug }) }}">{{ project.name }}</a></td>
                    <td>
                        {% if project.redmineId %}
                            <a href="{{ redmine.hostname|trim('/') ~ '/projects/' ~ project.redmineIdentifier }}"
                               target="_blank" title="Redmine"><img src="https://wappalyzer.com/sites/default/files/icons/Redmine.png" alt="Redmine" height="16" width="16" /></a>
                        {% endif %}
                    </td>
                    {#<td>#}
                        {#<a href="{{ path('project_show', { 'id': project.id }) }}"#}
                           {#class="btn btn-default btn-xs">show</a>#}
                        {#<a href="{{ path('project_edit', { 'id': project.id }) }}"#}
                           {#class="btn btn-default btn-xs">edit</a>#}
                    {#</td>#}
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    {% if projects_not_affected %}
        <br/>

        <h3>Not affected to a client</h3>

        <table class="table table-condensed table-striped table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                {#<th>Redmine</th>#}
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in projects_not_affected %}
                <tr>
                    <td><a href="{{ path('project_show', { 'slug': entity.slug }) }}">{{ entity.id }}</a></td>
                    <td>
                        {% for i in range(0, entity.lvl) if entity.lvl > 0 %}
                            <span style="display: inline-block; width: 15px"></span>
                        {% endfor %}
                        <a href="{{ path('project_show', { 'slug': entity.slug }) }}">{{ entity.name }}</a>
                    </td>
                    {#<td>#}
                    {#{% if entity.redmineIdentifier %}#}
                    {#<a href="{{ redmine.hostname|trim('/') ~ '/projects/' ~ entity.redmineIdentifier }}"#}
                    {#target="_blank">{{ entity.redmineIdentifier }}</a>#}
                    {#<img src="{{ asset('bundles/smartprojectproject/images/external_link_icon.gif') }}"#}
                    {#alt="External link"/>#}
                    {#{% endif %}#}
                    {#</td>#}
                    <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('project_show', { 'slug': entity.slug }) }}"
                           class="btn btn-default btn-xs">show</a>
                        <a href="{{ path('project_edit', { 'slug': entity.slug }) }}"
                           class="btn btn-default btn-xs">edit</a>
                        {% if entity.lvl == 0 %}
                            <a href="{{ path('project_create_client', { 'slug': entity.slug }) }}"
                               class="btn btn-default btn-xs">create project</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block content_sidebar %}
    <a href="{{ path('client_new') }}" class="btn btn-primary btn-block">Create a new client</a>
{% endblock %}
