{% extends 'SmartProjectFrontBundle::layout.html.twig' %}

{% block headline %}
    Project list
{% endblock %}

{% block content_content %}

    <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            {#<th>Redmine</th>#}
            <th>Created</th>
            <th>Updated</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td colspan="4"><strong>{{ client.name }}</strong></td>
                <td>
                    <a href="{{ path('client_show', { 'id': client.id }) }}"
                       class="btn btn-default btn-xs">show</a>
                    <a href="{{ path('client_edit', { 'id': client.id }) }}"
                       class="btn btn-default btn-xs">edit</a>
                </td>
            </tr>
            {% for entity in client.projects %}
                <tr>
                    <td><a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>
                        {% if entity.lvl %}
                            <span style="display: inline-block; width: {{ entity.lvl * 15 }}px; text-align: right; padding-right: 10px">\</span>
                        {% endif %}
                        <a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    {#<td>#}
                    {#{% if entity.redmineIdentifier %}#}
                    {#<a href="{{ redmine.hostname|trim('/') ~ '/projects/' ~ entity.redmineIdentifier }}"#}
                    {#target="_blank">{{ entity.redmineIdentifier }}</a>#}
                    {#<img src="{{ asset('bundles/smartprojectproject/images/external_link_icon.gif') }}"#}
                    {#alt="External link"/>#}
                    {#{% endif %}#}
                    {#</td>#}
                    <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('project_show', { 'id': entity.id }) }}"
                           class="btn btn-default btn-xs">show</a>
                        <a href="{{ path('project_edit', { 'id': entity.id }) }}"
                           class="btn btn-default btn-xs">edit</a>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    {% if projects_not_affected %}
        <br/>

        <h3>Not affected to a client</h3>

        <table class="table table-condensed table-striped table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                {#<th>Redmine</th>#}
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in projects_not_affected %}
                <tr>
                    <td><a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>
                        {% for i in range(0, entity.lvl) if entity.lvl > 0 %}
                            <span style="display: inline-block; width: 15px"></span>
                        {% endfor %}
                        <a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
                    </td>
                    {#<td>#}
                    {#{% if entity.redmineIdentifier %}#}
                    {#<a href="{{ redmine.hostname|trim('/') ~ '/projects/' ~ entity.redmineIdentifier }}"#}
                    {#target="_blank">{{ entity.redmineIdentifier }}</a>#}
                    {#<img src="{{ asset('bundles/smartprojectproject/images/external_link_icon.gif') }}"#}
                    {#alt="External link"/>#}
                    {#{% endif %}#}
                    {#</td>#}
                    <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('project_show', { 'id': entity.id }) }}"
                           class="btn btn-default btn-xs">show</a>
                        <a href="{{ path('project_edit', { 'id': entity.id }) }}"
                           class="btn btn-default btn-xs">edit</a>
                        {% if entity.lvl == 0 %}
                            <a href="{{ path('project_create_client', { 'id': entity.id }) }}"
                               class="btn btn-default btn-xs">create project</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block content_sidebar %}
    <a href="{{ path('project_new') }}" class="btn btn-primary btn-block">Create a new project</a>
{% endblock %}
