{% extends 'SmartProjectFrontBundle::layout.html.twig' %}

{% block headline %}
    Project list
{% endblock %}

{% block content_content %}

    <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th colspan="2">Name</th>
            <th>Synced</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            {% if project.type == 'client' %}
                <tr>
                    <td colspan="2">
                        <a href="{{ path('client_show', {slug: project.slug}) }}"><strong>{{ project.name }}</strong></a>
                    </td>
                    <td></td>
                </tr>
            {% elseif project.type == 'project' %}
                <tr>
                    <td style="width: 20px"></td>
                    <td>
                        {% if project.lvl %}
                            <span style="display: inline-block; width: {{ project.lvl * 15 }}px; text-align: right; padding-right: 10px">\</span>
                        {% endif %}
                        <a href="{{ path('project_show', { 'slug': project.slug }) }}">{{ project.name }}</a></td>
                    <td>
                        {% if project.syncProvider %}
                            <a href="{{ redmine.hostname|trim('/') ~ '/projects/' ~ project.syncIdentifier }}"
                               target="_blank" title="Redmine"><img
                                        src="https://wappalyzer.com/sites/default/files/icons/Redmine.png" alt="Redmine"
                                        height="16" width="16"/></a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {#{% for project in client.getchildren %}#}
            {#<tr>#}
            {#<td style="width: 20px"></td>#}
            {#<td>#}
            {#{% if project.lvl %}#}
            {#<span style="display: inline-block; width: {{ project.lvl * 15 }}px; text-align: right; padding-right: 10px">\</span>#}
            {#{% endif %}#}
            {#<a href="{{ path('project_show', { 'slug': project.slug }) }}">{{ project.name }}</a></td>#}
            {#<td>#}
            {#{% if project.syncId %}#}
            {#<a href="{{ redmine.hostname|trim('/') ~ '/projects/' ~ project.syncIdentifier }}"#}
            {#target="_blank" title="Redmine"><img#}
            {#src="https://wappalyzer.com/sites/default/files/icons/Redmine.png" alt="Redmine"#}
            {#height="16" width="16"/></a>#}
            {#{% endif %}#}
            {#</td>#}
            {#</tr>#}
            {#{% endfor %}#}
        {% endfor %}
        </tbody>
    </table>

    {% if projects_not_affected %}
        <br/>

        <h3>Not affected to a client</h3>

        <table class="table table-condensed table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                {#<th>Redmine</th>#}
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in projects_not_affected %}
                <tr>
                    <td>
                        {% if entity.lvl %}
                            {% for i in range(1, entity.lvl) %}
                                <span style="display: inline-block; width: 15px"></span>
                            {% endfor %}
                        {% endif %}
                        <a href="{{ path('project_show', { 'slug': entity.slug }) }}">{{ entity.name }}</a>
                    </td>
                    {#<td>#}
                    {#{% if entity.syncIdentifier %}#}
                    {#<a href="{{ redmine.hostname|trim('/') ~ '/projects/' ~ entity.syncIdentifier }}"#}
                    {#target="_blank">{{ entity.syncIdentifier }}</a>#}
                    {#<img src="{{ asset('bundles/smartprojectproject/images/external_link_icon.gif') }}"#}
                    {#alt="External link"/>#}
                    {#{% endif %}#}
                    {#</td>#}
                    <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('project_show', { 'slug': entity.slug }) }}"
                           class="btn btn-default btn-xs">show</a>
                        <a href="{{ path('project_edit', { 'slug': entity.slug }) }}"
                           class="btn btn-default btn-xs">edit</a>
                        {% if entity.lvl == 0 %}
                            <a href="{{ path('project_create_client', { 'slug': entity.slug }) }}"
                               class="btn btn-default btn-xs">create project</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block content_sidebar %}
    <a href="{{ path('client_new') }}" class="btn btn-primary btn-block">Create a new client</a>
{% endblock %}
