{% extends 'SmartProjectFrontBundle::layout.html.twig' %}

{% block headline %}
    Project : {{ entity.name }}
{% endblock %}

{% block headline_sub %}
    {% if entity.website %}
        <em><a href="{{ entity.website }}" target="_blank">{{ entity.website }}</a></em>
    {% endif %}
{% endblock %}

{% block content_content %}

    <!-- Nav tabs -->
    {#<ul class="nav nav-tabs">#}
        {#<li class="active"><a href="#contract" data-toggle="tab">Contracts <span class="badge">5</span></a></li>#}
        {#<li><a href="#detail" data-toggle="tab">Details</a></li>#}
    {#</ul>#}
    {#<br/>#}

    <!-- Tab panes -->
    {#<div class="tab-content">#}
        {#<div class="tab-pane active" id="contract">#}
            <div class="panel-group" id="accordion">
                {% for contract_id in 1..5 %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ contract_id }}">
                                    Contract name #{{ contract_id }}
                                </a>
                                {% set rate = (7 - contract_id) * 20 %}
                                <span class="label {% if rate > 100 %}label-danger{% else %}label-success{% endif %} pull-right"
                                      data-container="body"
                                      data-toggle="popover" data-trigger="hover" data-placement="top"
                                      data-content="+3 days">
                                    {{ rate }} %
                                </span>
                            </h4>
                        </div>
                        <div id="collapse_{{ contract_id }}"
                             class="panel-collapse collapse{% if contract_id == 1 %} in{% endif %}">
                            <div class="panel-body">
                                <div class="col-md-4">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson
                                        ad
                                        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                                        truck
                                        quinoa
                                        beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                        butcher
                                        vice
                                        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                                        nesciunt
                                        you
                                        probably haven't heard of them accusamus labore sustainable VHS.</p>
                                    <a href="#" class="btn btn-primary btn-xs pull-right">Edit contract</a>
                                </div>
                                <div class="col-md-8">
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th style="text-align: right">Daily cost</th>
                                            <th style="text-align: right">Sold</th>
                                            <th style="text-align: right">Consumed</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>Project manager</th>
                                            <td style="text-align: right">610 €</td>
                                            <td style="text-align: right">11 days</td>
                                            <td style="text-align: right"><a href="#">11 days</a></td>
                                        </tr>
                                        <tr class="success">
                                            <th>Designer</th>
                                            <td style="text-align: right">530 €</td>
                                            <td style="text-align: right">5.5 days</td>
                                            <td style="text-align: right"><a href="#">3.5 days</a></td>
                                        </tr>
                                        <tr class="danger">
                                            <th>Developer</th>
                                            <td style="text-align: right">480 €</td>
                                            <td style="text-align: right">18 days</td>
                                            <td style="text-align: right; font-weight: bold"><a href="#">25 days</a>
                                            </td>
                                        </tr>
                                        <tr class="total">
                                            <th></th>
                                            <td></td>
                                            <th style="text-align: right">34.5 days</th>
                                            <th style="text-align: right; font-weight: bold"><a href="#">39.5 days</a>
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <a href="#" class="btn btn-warning btn-xs pull-right">View timesheet</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {#</div>#}
        {#</div>#}

        {#<div class="tab-pane" id="detail">#}
            {#<div class="description">#}
                {#<h3>Description</h3>#}
                {#{{ entity.description }}#}
            {#</div>#}
            {#<div class="tags">#}
                {#{% set tags = entity.tags|split(',') %}#}
                {#{% for tag in tags %}#}
                    {#<span class="label label-primary" style="margin-right: 3px">{{ tag }}</span>#}
                {#{% endfor %}#}
            {#</div>#}
        {#</div>#}
    </div>


    {#{{ form(delete_form) }}#}
{% endblock %}

{% block content_sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Summary</h3>
        </div>

        <table class="table">
            <tr>
                <th>Client</th>
                <td>
                    {% if entity.client %}
                        <a href="{{ path('client_show', {id: entity.client.id}) }}">{{ entity.client.name }}</a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Manager</th>
                <td>
                    {% if entity.manager is defined %}
                        <a href="{{ path('user_show', {id: entity.manager.id}) }}">{{ entity.manager.name }}</a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Redmine</th>
                <td>
                    {% if entity.redmineId %}
                        <a href="{{ redmine.hostname|trim('/') ~ '/projects/' ~ entity.redmineIdentifier }}">Synchronized</a>
                    {% else %}
                        <em>Not linked</em>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated at</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </table>
    </div>

    <div class="buttons">
        <a href="{{ path('project_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-block">Edit project</a>
        <a href="{{ path('project_edit', { 'id': entity.id }) }}" class="btn btn-success btn-block">Add contract</a>
    </div>

    <br/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="tags">
                {% set tags = entity.tags|split(',') %}
                {% for tag in tags %}
                    <span class="label label-primary" style="margin-right: 3px">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="panel-body">
            {{ entity.description }}
        </div>
    </div>


{% endblock %}
