{% extends 'SmartProjectFrontBundle::layout.html.twig' %}

{% block headline %}
    Project : {{ entity.name }}
{% endblock %}

{% block headline_sub %}
    {% if entity.website %}
        <em><a href="{{ entity.website }}" target="_blank">{{ entity.website }}</a></em>
    {% endif %}
{% endblock %}

{% block content_content %}

    <div class="tags">
        {% set tags = entity.tags|split(',') %}
        {% for tag in tags %}
            <span class="label label-primary" style="margin-right: 3px">{{ tag }}</span>
        {% endfor %}
    </div>

    <div class="description">
        <h3>Description</h3>
        {{ entity.description }}
    </div>

    {#{{ form(delete_form) }}#}
{% endblock %}

{% block content_sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Summary</h3>
        </div>

        <table class="table">
            <tr>
                <th>Client</th>
                <td>
                    {% if entity.client %}
                        <a href="{{ path('client_show', {id: entity.client.id}) }}">{{ entity.client.name }}</a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Manager</th>
                <td>
                    {% if entity.manager is defined %}
                        <a href="{{ path('user_show', {id: entity.manager.id}) }}">{{ entity.manager.name }}</a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Redmine</th>
                <td>
                    {% if entity.redmineId %}
                        <a href="{{ redmine.hostname ~ '/projects/' ~ entity.redmineId }}">Linked</a>
                    {% else %}
                        <em>Not linked</em>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated at</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </table>
    </div>

    <div>
        <a href="{{ path('project_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-block">Edit</a>
    </div>
{% endblock %}
