<div class="btn-group btn-group-justified buttons">
    <a href="{{ path('project_edit', { 'slug': project.slug }) }}" class="btn btn-primary btn-block"><span
                class="glyphicon glyphicon-pencil"></span> Edit project</a>
    <a href="{{ path('contract_new_project', { 'project': project.slug }) }}" class="btn btn-success btn-block"><span
                class="glyphicon glyphicon-plus-sign"></span> Add contract</a>
</div>

<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Summary</h3>
    </div>

    <table class="table table-striped table-hover">
        <tr>
            <th>Client</th>
            <td>
                {% if project.client %}
                    <a href="{{ path('client_show', {slug: project.client.slug}) }}">{{ project.client.name }}</a>
                {% else %}
                    N/A
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Manager</th>
            <td>
                {% if project.manager is defined %}
                    <a href="{{ path('user_show', {id: project.manager.id}) }}">{{ project.manager.name }}</a>
                {% else %}
                    N/A
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Redmine</th>
            <td>
                {% if project.redmineId %}
                    <a href="{{ redmine.hostname|trim('/') ~ '/projects/' ~ project.redmineIdentifier }}"
                       target="_blank">Synchronized</a>
                {% else %}
                    <em>Not linked</em>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Created at</th>
            <td>{{ project.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updated at</th>
            <td>{{ project.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    </table>
</div>

{% if project.tags|trim or project.description|trim %}
    <div class="panel panel-default">
        {% if project.tags|trim %}
            <div class="panel-heading">
                <div class="tags">
                    {% set tags = project.tags|split(',') %}
                    {% for tag in tags %}
                        <span class="label label-primary" style="margin-right: 3px">{{ tag }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if project.description|trim %}
            <div class="panel-body">
                {{ project.description }}
            </div>
        {% endif %}
    </div>
{% endif %}

{{ form_start(delete_form) }}
    <a class="btn btn-block btn-danger btn-project-delete">Delete project</a>
{{ form_end(delete_form) }}