{% extends 'SmartProjectFrontBundle::layout-without-sidebar.html.twig' %}

{# --------------------------------------------------------------------------------- #}
{% form_theme form _self %}
{# --------------------------------------------------------------------------------- #}

{% block widget_form_group_start %}
    {% if widget_form_group|default(false) or form.parent == null %}
        {% if 'collection'in form.parent.vars.block_prefixes %} {# i am a collection child #}
            {% if not omit_collection_item %}
                {% set widget_form_group_attr = widget_form_group_attr|merge({class: widget_form_group_attr.class ~ ' collection-item'}) %}
            {% endif %}
        {% endif %}
        {% if prototype is defined %}
            {% set data_prototype_name = form.vars.form.vars.prototype.vars.name|default('__name__') %}
            {% set widget_form_group_attr = widget_form_group_attr|merge({'data-prototype': form_row(prototype), 'data-prototype-name': data_prototype_name})|merge(attr) %}
        {% endif %}
        {# collection item adds class to form-group #}
        {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class ~ ' ' ~ id ~ '_form_group'}) %}
        {% if errors|length > 0 %}
            {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('') ~ ' has-error'}) %}
        {% endif %}
        {% if 'collection' in form.vars.block_prefixes and attr.class is defined %}
            {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('row') ~ ' ' ~ attr.class}) %}
        {% endif %}
        <tr{% if help_widget_popover.title is not sameas(null) %}{{ block('help_widget_popover') }}{% endif %} {% for attrname,attrvalue in widget_form_group_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {# a form item containing the field in block_prefixes is a near subform or a field directly #}
        {% if (form|length > 0 and form.parent != null)
        and 'field' not in form.vars.block_prefixes %}
            {% if show_child_legend %}
                {{ block('form_legend') }}
            {% elseif label_render %}
                {{ form_label(form, label|default(null)) }}
            {% endif %}
        {% else %}
            {% if label_render %}
                {{ form_label(form, label|default(null)) }}
            {% endif %}
        {% endif %}
    {% else %}
        {% if label_render %}
            {{ form_label(form, label|default(null)) }}
        {% endif %}
    {% endif %}
{% endblock widget_form_group_start %}

{% block widget_form_group_end %}
    {% spaceless %}
        {% if widget_form_group|default(false) or form.parent == null %}
            </tr>
        {% endif %}
    {% endspaceless %}
{% endblock widget_form_group_end %}

{% block collection_widget %}
    {% spaceless %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock collection_widget %}

{% block form_widget_add_btn %}
    {% spaceless %}
        {% if widget_add_btn|default(null) %}
            {% set button_type = 'add' %}
            {% set button_values = widget_add_btn %}
            {{ block('collection_button') }}
        {% endif %}
    {% endspaceless %}
{% endblock form_widget_add_btn %}

{% block smartproject_collection_task_widget %}
    <td width="30%" style="max-width: 330px">
        {{ form_widget(form.id) }}
        {{ form_widget(form.project) }}
    </td>
    <td width="30%">
        {{ form_widget(form.description) }}
    </td>
    <td class="duration duration-day1">
        {{ form_widget(form.duration_day1) }}
    </td>
    <td class="duration duration-day2">
        {{ form_widget(form.duration_day2) }}
    </td>
    <td class="duration duration-day3">
        {{ form_widget(form.duration_day3) }}
    </td>
    <td class="duration duration-day4">
        {{ form_widget(form.duration_day4) }}
    </td>
    <td class="duration duration-day5">
        {{ form_widget(form.duration_day5) }}
    </td>
    <td class="duration duration-day6">
        {{ form_widget(form.duration_day6) }}
    </td>
    <td class="duration duration-day7">
        {{ form_widget(form.duration_day7) }}
    </td>
    <td>
        <div class="btn-group">
            {% set widget_add_btn = {attr: {class: 'btn btn-default btn-primary', style: 'padding-left: 4px; padding-right: 4px'}, icon: 'plus-sign', icon_color: null, placement: 'top', label: ''} %}
            {% set widget_remove_btn = {attr: {class: 'btn btn-default btn-danger', style: 'padding-left: 4px; padding-right: 4px'}, icon: 'trash', icon_color: null, label: ''} %}
            {{ block('form_widget_add_btn') }}
            {{ block('form_widget_remove_btn') }}
        </div>
    </td>
{% endblock smartproject_collection_task_widget %}

{# --------------------------------------------------------------------------------- #}

{% block headline %}
    Timesheet of
    <a href="#" class="datepicker-inline" data-url="{{ path('timesheet', {date: 'REPLACE'}) }}"
       data-date-today-btn="true" data-date-today-highlight="true">{{ date|date('Y-m-d') }}</a>
    <span class="glyphicon glyphicon-pencil" style="font-size: 0.5em"></span>
{% endblock %}

{% block headline_sub %}
    <em>weekly view from {{ timesheet.dateStart|date('Y-m-d') }} to {{ timesheet.dateEnd|date('Y-m-d') }}</em>
{% endblock %}

{% block content_content %}
    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-12">
            <a href="#" class="pull-right btn btn-default btn-primary btn-add-task">
                <span class="glyphicon glyphicon-plus-sign"></span> Add task
            </a>
        </div>
    </div>

    <table class="table table-condensed table-striped table-hover table-timesheet">
        <thead>
        <tr>
            <th colspan="2"></th>
            <th style="width: 40px">Mo</th>
            <th style="width: 40px">Tu</th>
            <th style="width: 40px">We</th>
            <th style="width: 40px">Th</th>
            <th style="width: 40px">Fr</th>
            <th style="width: 40px" class="text-muted">Sa</th>
            <th style="width: 40px" class="text-muted">Su</th>
            <th style="width: 60px"></th>
        </tr>
        </thead>
        <tbody>
        {{ form_row(form.tasks) }}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2"></td>
            <td class="duration duration-day1">-</td>
            <td class="duration duration-day2">-</td>
            <td class="duration duration-day3">-</td>
            <td class="duration duration-day4">-</td>
            <td class="duration duration-day5">-</td>
            <td class="duration duration-day6 text-muted">-</td>
            <td class="duration duration-day7 text-muted">-</td>
            <td></td>
        </tr>
        </tfoot>
    </table>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-block btn-success">Validate</button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block foot_script %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.table-timesheet tr').each(function () {
                initTableLine($(this));
            });

            $('.datepicker-inline').each(function () {
                var picker = $(this);
                picker.datepicker({
                    autoclose: true,
                    format: 'yyyy-mm-dd',
                    weekStart: 1,
                    todayBtn: false
                });
                picker.datepicker('update', picker[0].innerText);
                picker.datepicker().on('changeDate', function (e) {
                    if (url = picker.attr('data-url')) {
                        window.location.href = url.replace('REPLACE', e.format());
                    }
                });
            });

            $('.btn-add-task').click(function (e) {
                e.preventDefault();

                var tbody = $('.table-timesheet tbody');
                var new_line = createNewLine(tbody);
                tbody.append(new_line);

                initTableLine(new_line);

                updateTotal(tbody.closest('table'));
            });

            function initTableLine(line) {
                $('[data-collection-add-btn]', line).click(function () {
                    var target = $(this).attr('data-collection-add-btn');
                    var tbody = $(this).closest('tbody');

                    var new_line = createNewLine(tbody);
                    $(new_line).insertAfter(line);
//                    new_line.prepend($(line));
                    initTableLine(new_line);

                    $('.form-field-project', new_line).select2('val', $('.form-field-project', line).select2('val'));
                    $('.field-description', new_line).val($('.field-description', line).val());

                    for (i = 1; i <= 7; i++) {
                        $('.field-duration-day' + i, new_line).val($('.field-duration-day' + i, line).val());
                    }

                    updateTotal(tbody.closest('table'));
                });

                $('[data-collection-remove-btn]', line).click(function () {
                    var target = $(this).attr('data-collection-remove-btn');
                    var table = $(this).closest('table');

                    $(target).hide(300, function () {
                        $(this).remove();

                        updateTotal(table);
                    });
                });

                $('input.field-duration', line).change(function (e) {
                    var currentValue  = $(this).val().trim();

                    if ((!$.isNumeric(currentValue) || parseFloat(currentValue) < 0) && currentValue != '') {
                        var previousValue = $(this).attr('data-previous-value') || $(this).attr('value') || '';
                        currentValue = previousValue;
                    }

                    $(this).val(currentValue);
                    $(this).attr('data-previous-value', currentValue);

                    var table = $(this).closest('table');
                    updateTotal(table);
                });

                $('select.form-field-select').select2({
                    matcher: function (term, text, option) {
                        var label = option[0].textContent;

                        return text.toUpperCase().indexOf(term.toUpperCase()) >= 0;
                    },
                    formatResult: function (item) {
                        var parts = item.text.split(/ > /);
                        var text  = parts[parts.length - 1];
                        var type  = 1;

                        if (text.match(/^[0-2]:/)) {
                            type = parseInt(text);
                            text = text.replace(/^\s*([0-2]:)/, '');
                        }

                        text = '&nbsp;&nbsp;'.repeat(parts.length - 1) + text;

                        if (type == 0) {
                            text = '<strong>' + text + '</strong>';
                        } else if (type == 2) {
                            text = '<div style="font-style: italic">' + text + '</div>';
                        }

                        return text;
                    },
                    formatSelection: function (item) {
                        var text = item.text.replace(/ > [0-2]:/g, ' / ').replace(/^[0-2]:/, '');

                        return text;
                    },
                    allowClear: true,
                    dropdownAutoWidth: true,
                    width: '100%'
                });
            }

            function updateTotal(table) {
                var form_data = table.closest('form').serializeObject();
                var total = {
                    day1: 0,
                    day2: 0,
                    day3: 0,
                    day4: 0,
                    day5: 0,
                    day6: 0,
                    day7: 0
                };
                var tasks = form_data.smartproject_timesheetbundle_timesheet.tasks || {};
                $.each(tasks, function (key, task) {
                    if (task == undefined) {
                        return;
                    }

                    if (task.duration_day1) {
                        total.day1 += parseFloat(task.duration_day1);
                    }
                    if (task.duration_day2) {
                        total.day2 += parseFloat(task.duration_day2);
                    }
                    if (task.duration_day3) {
                        total.day3 += parseFloat(task.duration_day3);
                    }
                    if (task.duration_day4) {
                        total.day4 += parseFloat(task.duration_day4);
                    }
                    if (task.duration_day5) {
                        total.day5 += parseFloat(task.duration_day5);
                    }
                    if (task.duration_day6) {
                        total.day6 += parseFloat(task.duration_day6);
                    }
                    if (task.duration_day7) {
                        total.day7 += parseFloat(task.duration_day7);
                    }
                });

                $.each(total, function (key, value) {
                    var field = $('tfoot .duration-' + key, table);
                    field.removeClass('bg-success bg-warning bg-danger');

                    if (!value) {
                        field.text('-');
//                        field.addClass('bg-danger');
                    } else {
                        if (value < 7) {
                            field.addClass('bg-warning');
                        } else if (value > 7) {
                            field.addClass('bg-danger');
                        } else {
                            field.addClass('bg-success');
                        }
                        field.text(value);
                    }
                })
            }

            function createNewLine(tbody) {
                var collection = $('[data-prototype]', tbody);
                var prototype = collection.attr('data-prototype');
                var prototype_name = collection.attr('data-prototype-name');

                var form_data = tbody.closest('form').serializeObject();
                var count = 1;
                var tasks = form_data.smartproject_timesheetbundle_timesheet.tasks || {};
                $.each(tasks, function (key, value) {
                    if (key >= count) {
                        count = key + 1;
                    }
                });
                var new_line = $(prototype.replace(/__name__/g, count));

                return new_line;
            }

            var table = $('table.table-timesheet');
            updateTotal(table);
        });
    </script>
{% endblock foot_script %}