{% extends 'SmartProjectFrontBundle::layout.html.twig' %}

{% block headline %}
    Contract edit
{% endblock %}

{% block content_content -%}
    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('contract') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}

{% block content_sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Summary</h3>
        </div>

        <table class="table table-striped table-hover">
            <tr>
                <th>Client</th>
                <td>
                    {% if entity.project.client %}
                        <a href="{{ path('client_show', {slug: entity.project.client.slug}) }}">{{ entity.project.client.name }}</a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Project</th>
                <td>
                    {% if entity.project %}
                        <a href="{{ path('project_show', {slug: entity.project.slug}) }}">{{ entity.project.name }}</a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Manager</th>
                <td>
                    {% if entity.manager is defined %}
                        <a href="{{ path('user_show', {id: entity.manager.id}) }}">{{ entity.manager.name }}</a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated at</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </table>
    </div>
{% endblock %}