{% extends 'SmartProjectFrontBundle::layout.html.twig' %}

{% block headline %}
    Contract creation
{% endblock %}

{% block headline_sub %}
    {% if contract.project.client %}<a href="{{ path('client_show', {slug: contract.project.client.slug}) }}">{{ contract.project.client.name }}</a> > {% endif %}
    <a href="{{ path('project_show', {slug: contract.project.slug}) }}">{{ contract.project.name }}</a>
{% endblock %}

{% block content_content %}
    {{ form_start(form) }}

    <div class="panel panel-default">
        <div class="panel-body">
            {{ form_rest(form) }}
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-block btn-primary">
            Create
        </button>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block content_sidebar %}

    {% include 'SmartProjectProjectBundle:Project:sidebar.html.twig' %}

{% endblock %}