{% extends 'SmartProjectFrontBundle::layout.html.twig' %}

{% block headline %}
    Contract
{% endblock %}

{% block content_content %}

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ contract.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ contract.name }}</td>
        </tr>
        <tr>
            <th>Slug</th>
            <td>{{ contract.slug }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ contract.description }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ contract.status }}</td>
        </tr>
        <tr>
            <th>Created at</th>
            <td>{{ contract.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updated at</th>
            <td>{{ contract.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Deleted at</th>
            <td>{% if contract.deletedAt %}{{ contract.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block content_sidebar %}
    {% set view_mode = 'show' %}
    {% include 'SmartProjectProjectBundle:Contract:sidebar.html.twig' %}
{% endblock %}

{% block foot_script %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-contract-delete').first().click(function () {
                var form = $(this).closest('form');

                bootbox.confirm(
                        'Do you confirm contract deletion?',
                        function (result) {
                            if (result) {
                                form.submit();
                            }
                        }
                );
            });
        });
    </script>
{% endblock %}
