{% extends 'SmartProjectFrontBundle::layout.html.twig' %}

{% block headline %}
    Client list
{% endblock %}

{% block content_content %}
    <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Tags</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('client_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><a href="{{ path('client_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.tags }}</td>
                <td>
                    <a href="{{ path('client_show', { 'id': entity.id }) }}" class="btn btn-default btn-xs">show</a>
                    <a href="{{ path('client_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block content_sidebar %}
    <a href="{{ path('client_new') }}" class="btn btn-primary btn-block">Create a new client</a>
{% endblock %}