{% extends 'SmartProjectFrontBundle::layout.html.twig' %}

{% block headline %}
    Client creation
{% endblock %}

{% block content_content %}
    {{ form_start(form) }}

    <div class="panel panel-default">
        <div class="panel-body">
            {{ form_row(form.name) }}
            {{ form_row(form.slug) }}
            {{ form_row(form.description) }}
            {{ form_row(form.tags) }}
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-block btn-primary">
            Create
        </button>
    </div>

    {{ form_end(form) }}
{% endblock %}
